<div class="content" id="popular-media">

	<h2>Bitcoin in Popular Media</h2>

		<hr />

			<h3>Cinema</h3>

				<div id="movies" class="row"></div>

				<hr />

			<h3>Literature</h3>

				<p>
					There are a lot of technical and documentary books on Bitcoin. Here, we demonstrate some of the fictions, thrillers and detectives.
				</p>

				<div class="ui-208">
					<div class="container">
						<div class="row" id="books">
							
						</div>
					</div>
				</div>

				<hr />

			<h3>Songs</h3>

			<p>
				Many songs named <i>Bitcoin</i> which basically play "electro" music.
			</p>

	<h2>References</h2>

		<ol class="references">
			<li>Movie: <a href="http://www.imdb.com/title/tt4422900/?ref_=fn_tt_tt_2">#</a></li>
			<li>Movie: <a href="http://www.imdb.com/title/tt3910512/?ref_=fn_tt_tt_8">#</a></li>
			<li>Movie: <a href="http://www.imdb.com/title/tt4654844/?ref_=tt_rec_tt">#</a></li>
			<li>Movie: <a href="http://www.imdb.com/title/tt2821314/?ref_=tt_rec_tt">#</a></li>

			<li>Book: <a href="https://itunes.apple.com/us/book/bitcoin-detective/id803520963?mt=11">#</a></li>
			<li>Book: <a href="https://itunes.apple.com/us/book/the-war-stage/id1122332737?mt=11">#</a></li>
			<li>Book: <a href="https://itunes.apple.com/us/book/the-bitcoin-blockchain/id1132715358?mt=11">#</a></li>
			<li>Book: <a href="https://itunes.apple.com/us/book/sketching-detective-bitcoin/id1054308055?mt=11">#</a></li>
			<li>Book: <a href="https://itunes.apple.com/us/book/the-money-tree/id1037096938?mt=11">#</a></li>

			<li>Image: <a href="http://dcbanners.weebly.com/uploads/9/7/8/2/9782867/dc-movie-background.png">#</a></li>
			<li>Image: <a href="https://ksr-ugc.imgix.net/assets/011/512/580/592a095cc700996adc56788ef5a803e8_original.jpg?w=1536&h=864&fit=fill&bg=000000&v=1463683813&auto=format&q=92&s=28bf913b3294274e63066556ea8eab5f">long URL</a></li>
		</ol>

	<small>Feedback? <a href="mailto:dmytro@dbogatov.org">dmytro@dbogatov.org</a></small>

</div>