<div class="content" style="text-align: justify;">

	<h2>Conclusions: The Future</h2>

		<hr />

			<h3>Obstacles</h3>

				<p>
					Cryptocurrencies such as BitCoin still have numerous significant obstacles to overcome before they could totally replace current currency systems. The most immediate is the simple opposition from existing financial institutions, which wield great power and have incentives to discourage the proliferation of cryptocurrencies [2]. Other large corporations, even when amenable to the idea of cryptocurrencies, do not currently consider them stable enough to keep as assets for long periods of time [8].
				</p>

				<p>
					In addition to battling the current economic system, cryptocurrencies have some internal challenges to overcome. Attempting to convert the entire world financial system to the BitCoin model, for example, could cause such a massive growth in blockchain size that the distributed ledger model would become impractical [3]. It is also still unclear whether blockchain technology could be successfully adapted to use cases which require very high speeds with high volumes (on the order of seconds instead of hours), and would be poorly suited for any application which required some degree of reversibility [4]. Finally, because of the substantial energy costs and diminished rewards over time associated with the "mining" process, users may eventually be forced to bear increasingly high and unreasonable transaction costs [3].
				</p>

			<h3>Short-term (3-5 years)</h3>

				<h4>Increasing Efficiency in the Financial Industry</h4>

					<p>
						Since the 2008 financial crisis, large banks are increasingly feeling pressure to increase efficiency and cut costs wherever possible [6]. To that end, a May 2016 report from Goldman Sachs estimates that the financial industry alone could realize up to $6 billion/year in savings through use of blockchain technology [4]. However, this would not necessarily include decentralized cryptocurrencies such as Bitcoin, but may involve the creation of new proprietary centralized cryptocurrencies (such as the Bank of England’s newly introduced RSCoin) [9].
					</p>

					<p>
						The introduction of cryptocurrencies may also lead to increased levels of transparency and few incidents of fraud. Under current systems, the correct identification of fraud is very manual-labor intensive and prone to error [4]. However, cryptocurrencies are designed to be explicitly transparent and automatically detect fraud, greatly alleviating the costs associated with managing associated systems [3].
					</p>

				<h4>Emerging Markets</h4>

					<p>
						Because cryptocurrencies require only an Internet connection, and are not dependent on established institutions such as banks, they are ideally suited for societies without a well-developed financial infrastructure [3]. As with how many individuals emerging markets skipped over landlines and went straight for mobile phones, the same individuals may skip the overhead of the traditional banking system and engage directly in mobile banking [3]. For these reasons, we expect cryptocurrencies to become a major influence in emerging markets over the next 3-5 years [4].
					</p>

			<h3>Long-term (5-10 years)</h3>

				<h4>Financial Market Disruption</h4>

					<p>
						Within the cryptocurrency community, one of the most popularized goals is the total replacement of banks and other centralized financial intermediaries [4]. Although such institutions may never be fully replaced by a democratized network, their role (and associated profitability) may steadily diminish with rise of cryptocurrencies, hopefully leading to the prevention of future financial catastrophes on the scale of the 2008 crisis [7].
					</p>

				<h4>IoT Integration</h4>

					<p>
						Although cryptocurrencies have the possibility to replace functions of the existing financial infrastructure, their greatest potential may be in incorporating with other technologies to facilitate a true revolution [3]. The blockchain model is ideally suited for Internet of Things (IoT) transactions, which require both efficient simplicity and robust security [4]. For example, imagine if every time you needed to fill up a car with gas, your car could pay the gas station automatically.
					</p>

				<h4>Expanding Industries</h4>

					<p>
						In addition to revolutionizing the financial system, the blockchain technology of underlying cryptocurrencies has the potential to expand across nearly any industry that involves large-scale record-keeping.
					</p>

					<p>
						Blockchain could be a massive boon to proponents of effective protection of intellectual property rights, such as with music and film. New companies such as Ascribe are pioneering methods for creating secure limited copies of digital media, in order to ensure that artists are properly compensated for their work, instead of being financial damaged by pirates [1]. Other examples include the growing "Sharing Economy" (including AirBnB) which can use blockchain to ease identity and reputation management, and "Smart Grid" utility companies which could use blockchain to introduce efficient microtransactions for energy consumption [4].
					</p>

			<h3>Far Future (10+ years)</h3>

				<p>
					In the very far future, global and democratized cryptocurrencies have the potential to replace government-backed fiat currencies as the primary means of conducting financial transactions. With that end in mind, Microsoft has also begun facilitating large-scale simulation tests on behalf of banks and other large corporations interested in understanding the potential ramifications for such a large-scale shift in the global economy [7].
				</p>

	<h2>References</h2>

		<ol class="references">
			<li>Ascribe home page. Ascribe. Accessed 29 September 2016 from <a href="https://www.ascribe.io/">#</a></li> 
			<li>Dutch Central Bank Presents Results of Cryptocurrency Experiments, by Michael del Castillo. CoinDesk. Accessed 29 September 2016 from <a href="http://www.coindesk.com/dutch-central-bank-cryptocurrency-experiments/">#</a></li>
			<li>Citi: Bitcoin is an Opportunity for Banks, Not a Threat, by Pete Rizzo. CoinDesk. Accessed 29 September 2016 from <a href="http://www.coindesk.com/citi-bitcoin-banks-remittances-wont-disrupt/">#</a></li>
			<li>Goldman Sachs on blockchain, by Pete Rizzo. CoinDesk. Accessed 29 September 2016 from <a href="http://www.coindesk.com/goldman-sachs-blockchain-tech-save-capital-markets-12-billion/">#</a></li>
			<li><a href="https://hbr.org/2016/05/the-impact-of-the-blockchain-goes-beyond-financial-services">#</a></li>
			<li>Banks find Blockchain hard to put into practice, by Kadhim Shubber. Financial Times. Accessed 29 September 2016 from <a href="https://www.ft.com/content/0288caea-7382-11e6-bf48-b372cdb1043a">#</a></li>
			<li>Microsoft Bets That Bitcoin-Style Blockchains Will Be Big Business, by Tom Simonite. MIT Technology Review. Accessed 20 September from <a href="https://www.technologyreview.com/s/545806/microsoft-bets-that-bitcoin-style-blockchains-will-be-big-business/">#</a></li>
			<li>No, Big Companies Aren’t Really Accepting BitCoin, by Jacob Davidson. Time. Accessed 29 September 2016 from <a href="http://time.com/money/3658361/dell-microsoft-expedia-bitcoin/">#</a></li>
			<li>Central banks beat Bitcoin at own game with rival supercurrency, by Ambrose Evans-Pritchard. The Telegraph. Accessed 20 September 2016 from <a href="http://www.telegraph.co.uk/business/2016/03/13/central-banks-beat-bitcoin-at-own-game-with-rival-supercurrency/">#</a></li>
		</ol>

	<small>Feedback? <a href="mailto:dmytro@dbogatov.org">dmytro@dbogatov.org</a></small>

</div>