<div class="content" style="text-align: justify;">

	<h2>Privacy</h2>

		<hr />

			<p>
				Cryptocurrencies like Bitcoin have the intriguing property of being fully anonymous, while also being one of the least private methods for financial transactions ever conceived, due to the fact that all transactions are recorded in the distributed public ledger [3]. In this sense, cryptocurrency is still nowhere near as private as cash [3]. However, there are several widely recommended precautions to take when using cryptocurrencies that can mitigate many of the privacy risks.
			</p>

			<p>
				The first and most obvious is to never publicly reveal which account numbers are associated with your person [1]. The other side of this policy is to generate an entirely new public/private key pair for every new transaction you make, such that knowledge of one of your accounts (such as through sending or receiving from you) cannot be extended to discover your other transactions [3]. The final precaution relates to the structure of the cryptocurrency network itself, and requires you to mask your personal IP address (i.e. using Tor with a VPN) to prevent network nodes from being able to trace the IP origin of your transactions [1].
			</p>

			<p>
				Even when taking these measures, there remains some potential for privacy violations. The most significant point of failure remains the conversion process between the cryptocurrency and other currencies (e.g. USD), which always requires a financial intermediary to which some amount of personal information must be exposed [3]. Finally, there are increasingly well-funded and sophisticated efforts to break the privacy system, such as the U.S. Department of Homeland Security’s September 2016 announcement that it is in the process of creating a Bitcoin deanonymization tool in response to the use of Bitcoin in illegal marketplaces such as Silk Road [2].
			</p>

			<p>
				Ironically, it is the 2013 FBI seizure of Silk Road creator Ross Ulbricht that has become the canonical example of Bitcoin privacy limits [4]. Because Ulbricht was unable to encrypt his laptop before it was seized, and also had chosen not to use common Bitcoin transaction-obfuscation services, the FBI was able to easily view all of his wallet’s public addresses and thereby track over $13 million in Bitcoin sent to him from the Silk Road servers [3]. He is currently serving a life sentence without parole [4].
			</p>

	<h2>References</h2>

		<ol class="references">
			<li>Protect Your Privacy. Bitcoin. Accessed 26 September 2016 from <a href="https://bitcoin.org/en/protect-your-privacy">#</a></li>
			<li>U.S. Department of Homeland Security To Create Bitcoin Deanonymization Tool, by Joseph Young. BTCManager. Accessed 29 September 2016 from  <a href="https://btcmanager.com/news/tech/u-s-department-of-homeland-security-create-bitcoin-deanonymization-tool/">#</a></li> 
			<li>How Anonymous is Bitcoin? A Backgrounder for Policymakers, by Adam Ludwin. CoinDesk. Accessed 29 September 2016 from <a href="http://www.coindesk.com/anonymous-bitcoin-backgrounder-policymakers/">#</a></li>
			<li>Bitcoins are Easier to Track than you Think, by Sam Frizell. Time. Accessed 3 October 2016 from <a href="http://time.com/3689359/bitcoins-track-anonymous/">#</a></li>
			<li>Wired. Accessed 3 October 2016 from <a href="https://www.wired.com/2015/01/prosecutors-trace-13-4-million-bitcoins-silk-road-ulbrichts-laptop/">#</a></li>
		</ol>

	<small>Feedback? <a href="mailto:dmytro@dbogatov.org">dmytro@dbogatov.org</a></small>

</div>