body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
div.content {
  padding-top: 70px;
}
a {
  color: #00B7FF;
}
#chartdiv {
  width: 100%;
  height: 500px;
}
ol.references li:before {
  content: "[" counter(item) "] ";
  margin-right: 10px;
  width: 1.2em;
  text-align: center;
  display: inline-block;
}
ol.references li {
  counter-increment: item;
}
ol.references {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
