<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>{{title}} | Cryptocurrency</title>

		<link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/components/amstock3/amcharts/plugins/export/export.css">
		
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/ui.css">
		

		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
		<link rel="manifest" href="/img/favicon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

		<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
		<script type="text/javascript">
			window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":"/cookie","theme":"dark-bottom"};
		</script>
		<!-- End Cookie Consent plugin -->
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/" class="navbar-brand">Cryptocurrency</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						<li><a href="/minutes">Minutes</a></li>
						<li><a href="/timeline">Timeline</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/">Nowhere</a></a>
						<li><a href="/cookie">Cookie Policy</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container body-content">
			
			{{{body}}}
			
			<hr />
			<footer>
				<p>&copy; 2016 - DINT Team | All rights reserved.</p>
			</footer>
		</div>

		<!-- Bower components -->
		<script src="/components/jquery/dist/jquery.min.js"></script>
		<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/components/cookieconsent/build/cookieconsent.min.js"></script>
		<script src="/components/underscore/underscore-min.js"></script>

		<!-- AMSTOCK components -->
		<script src="/components/amstock3/amcharts/amcharts.js"></script>
		<script src="/components/amstock3/amcharts/serial.js"></script>
		<script src="/components/amstock3/amcharts/amstock.js"></script>
		
		<!-- AMSTOCK plugins -->
		<script src="/components/amstock3/amcharts/plugins/export/export.min.js"></script>
		<script src="/components/amstock3/amcharts/themes/light.js"></script>

		<!-- Google Analytics -->
		<script src="/js/google-analytics.js"></script>

		<!-- Own scripts -->
		<script src="/js/timeline.js"></script>
		<script src="/js/bitcoin-chart.js"></script>

	</body>
</html>