<div class="content" id="popular-media" style="text-align: justify;">

	<h2>Bitcoin in Popular Media (IN PROGRESS)</h2>

		<hr />

			<h3>Cinema</h3>

				<div id="movies"></div>

			<h3>Literature</h3>

			<h3>Movies</h3>

			<p>
				
			</p>

	<h2>References</h2>

		<ol class="references">
			<li>"Botnets and the War on Bitcoin." Hacker5 12 July 2013. General OneFile. Web. 18 Sept. 2016.</li>
			<li>"Bitcoin Mining based Botnet Analysis". International Journal of Computer Applications (0975 – 8887) Volume 145 – No.6, July 2016</li>
			<li>John Bohannon. "Why criminals can't hide behind Bitcoin" <a href="http://www.sciencemag.org/news/2016/03/why-criminals-cant-hide-behind-bitcoin">http://www.sciencemag.org/news/2016/03/why-criminals-cant-hide-behind-bitcoin</a> Accessed 9/25/16</li>
		</ol>

	<small>Feedback? <a href="mailto:dmytro@dbogatov.org">dmytro@dbogatov.org</a></small>

</div>