<div class="content" style="text-align: justify;">

	<h2>Crime</h2>

		<hr />

			<p>
				Bitcoin appeals to criminals because of the ability to anonymously purchase goods and services online. The Silk Road, a Bitcoin market facilitating the sale of $1 billion in illegal drugs was a convenient place to publicly advertise illegal sales [3]. However, the anonymity that Bitcoin offers may be less than expected. Ross Ulbricht, the creator of the Silk Road was sentenced to life in prison in February 2015 [3]. Many other criminals have been caught:
			</p>

			<p>
				<i>
					"In March, the assets of 28-year-old Czech national Tomáš Jiříkovský were seized; he's suspected of laundering $40 million in stolen Bitcoins. Two more fell in September 2015: 33-year-old American Trendon Shavers pleaded guilty to running a $150 million Ponzi scheme—the first Bitcoin securities fraud case—and 30-year-old Frenchman Mark Karpelès was arrested and charged with fraud and embezzlement of $390 million from the now shuttered Bitcoin currency exchange Mt. Gox." [3].
				</i>
			</p>

			<p>
				Bitcoin combined with an anonymity service is not actually at fault for these arrests. It was actually due to mistakes leaked by the criminals that revealed their identity. For example, Mr. Ulbricht was caught using the same username on an encrypted connection that allowed the FBI to , "track his IP address to a San Francisco, in California, Internet cafe, (where) they caught him in the act of logging into Silk Road as an administrator" [3].
			</p>

			<p>
				It can be argued that Bitcoin provides anonymity to criminals, allowing them to perform illegal sales, however they system is not perfect as the FBI has shown. It is a question of ethics if a currency should be completely anonymous, or if governments should have some intervention rights. Bitcoin has some key disadvantages to criminals, as if they are caught their unique Bitcoin identifier may reveal, "their whole criminal history" [3]. The system is not perfect, as it seems authority intervention is mandatory to catch criminals show are using cryptocurrency illegally. The U.S. Supreme Court and Congress must design a balance between intervention and decentralization [5].
			</p>

			<p>
				Furthermore, bitcoin can be used to evade taxes. Unlike conventional currencies, "Bitcoin is not pegged to a government-backed fiat dollar, meaning its value relative to those currencies is market driven." [4] This means that people can easily transfer money between countries, which opens the door to other money laundering possibilities.
			</p>

			<p>
				Botnets are on the rise due to the possibility of bitcoin mining, where the resource of processing power is stolen from victims. Botnets are not a new computer security problem, but Bitcoin opened new possibilities, "Over the last two years, this approach drew the attention of cybercrooks who started using their botnets to run Bitcoin miners and introduce an additional source of income to their business [1]. Hacker5 news explains Botnets may contribute to the unstability of the currency, the price of a coin varied from under $100 to over $500 in the past few years [1]. Furthermore, hackers have made botnets stronger using peer to peer connections. This, "removes the single point of failure due to its distributed network thus making the disruption of the botnet much harder" [2].
			</p>

	<h2>References</h2>

		<ol class="references">
			<li>"Botnets and the War on Bitcoin." Hacker5 12 July 2013. General OneFile. Web. 18 Sept. 2016.</li>
			<li>"Bitcoin Mining based Botnet Analysis". International Journal of Computer Applications (0975 – 8887) Volume 145 – No.6, July 2016</li>
			<li>John Bohannon. "Why criminals can't hide behind Bitcoin" <a href="http://www.sciencemag.org/news/2016/03/why-criminals-cant-hide-behind-bitcoin">http://www.sciencemag.org/news/2016/03/why-criminals-cant-hide-behind-bitcoin</a> Accessed 9/25/16</li>
			<li>Thomas Slattery, "Taking a Bit out of Crime: Bitcoin and CrossBorder Tax Evasion". 39 Brook. J. Int'l L. (2014)</li>
			<li>Huang, Alice. "Reaching Within Silk Road: the Need for a New Subpoena Power That Targets Illegal Bitcoin Transactions." Boston College.Law School.Boston College Law Review 56.85 (2015): 2093-125. ProQuest. Web. 28 Sep. 2016.</li>
		</ol>

	<small>Feedback? <a href="mailto:dmytro@dbogatov.org">dmytro@dbogatov.org</a></small>

</div>