<div class="content" style="text-align: justify;">

	<h2>Errors, Failures, Risks</h2>

		<hr />

			<p>
				Here we look at a few risks that surround the usage of Bitcoin.
			</p>

			<p>
				<strong>Regulatory</strong> risk. A lack of properly laid out regulation surrounding Bitcoins and other cryptocurrencies means that their future is very uncertain in the context of our society. Bitcoin currently has an ambiguous legal status and has been treated as both currency and commodity. A big question that has arisen is how it should be taxed, with varying approaches in different legal systems across the globe. In the U.S., the IRS decided that Bitcoins should be treated as property for tax purposes. The rules and regulations surrounding bitcoins will probably see several changes this uncertainty is what gives the currency risk. Governments want to make sure that those dealing with bitcoins operate within existing laws. In 2013, the government seized funds for the famous Bitcoin exchange as Mt. Gox, as a resulting of their not complying with rules set forward for businesses. [1] [2] [3]
			</p>

			<p>
				<strong>Security</strong> risk. Bitcoin was built to provide a much safer and open system than those for original fiat currencies. While it has been proven that the current system is not foolproof, even more concerning is the fact that most owners of bitcoin utilize a growing eco-system of third-party intermediaries supporting bitcoin transactions. These include currency exchanges, wallets, mining pools, and investment services. Most of the risk coin holders face is in dealing with these intermediaries, which act as centralized authorities, something the bitcoin technology originally was supposed to address. When the intermediaries fail or are exploited, the users have nothing protecting their losses. [4] [5] [6]
			</p>

			<p>
				Bitcoin is highly <strong>volatile</strong>, making it a very risky investment vehicle or currency to use in the same way that our normal fiat currencies are used. News on Bitcoin often have drastic effects on its price and the price of bitcoin has repeatedly dropped by more than 10% in a few days, meaning that with a significant amount of personal wealth can be lost in a matter of hours. [1], [7] 
			</p>

			<p>
				Bitcoin transaction are, compared to fiat currencies, more risky to the extent that they <strong>cannot be reversed</strong>. Most payment systems today have means by which a transaction can be voided in the case of errors or mistakes, but bitcoin transaction are irreversible. In order to get money back, the receiver needs to send the money by himself.
			</p>

	<h2>References</h2>

		<ol class="references">
			<li>Prableen, B. The Risks Of Buying Bitcoin. <a href="http://www.investopedia.com/articles/investing/111014/risks-buying-bitcoin.asp">#</a>, Accessed 9/26/2016</li>
			<li>De Filippi, P. (2014). Bitcoin: a regulatory nightmare to a libertarian dream.Internet Policy Review, 3(2).</li>
			<li>Government seized $2.9 Million from bitcoin exchange Mt. Gox. <a href="http://www.coindesk.com/government-seized-2-9m-from-bitcoin-exchange-mt-gox/">#</a>, Accessed 9/28/2016</li>
			<li>Moore, T., &amp; Christin, N. (2013, April). Beware the middleman: Empirical analysis of Bitcoin-exchange risk. In International Conference on Financial Cryptography and Data Security (pp. 25-33). Springer Berlin Heidelberg.</li>
			<li>Nakamura, Y. Hacked Bitcoin Exchange Users to Lose 36%. <a href="http://www.bloomberg.com/news/articles/2016-08-07/hacked-bitcoin-exchange-users-to-lose-36-will-receive-tokens">#</a>, Accessed 9/26/2016</li>
			<li>Eyal, I., &amp; Sirer, E. G. (2014, March). Majority is not enough: Bitcoin mining is vulnerable. In International Conference on Financial Cryptography and Data Security (pp. 436-454). Springer Berlin Heidelberg.</li>
			<li>Lee, T. An Illustrated History of Bitcoin Crashes. <a href="http://www.forbes.com/sites/timothylee/2013/04/11/an-illustrated-history-of-bitcoin-crashes/#16285348429c">#</a>, Accessed 9/28/2016</li>
		</ol>

	<small>Feedback? <a href="mailto:dmytro@dbogatov.org">dmytro@dbogatov.org</a></small>

</div>