<div class="content" style="text-align: justify;">

	<h2>Ethics</h2>

		<hr />

		<p>
			The innovative idea of an e-currency is has gained a lot of traction in recent times, and will likely play a major financial role in the future. Cryptocurrencies are bringing many new innovative solutions to the current financial situation [1]. Bitcoin is currently the most popular cryptocurrency, but many other alternatives exist. Currently, nine billion USD on exchange stocks exist today relating to cryptocurrency [1]. The ethics behind cryptocurrency is complex, and a major problem is whether the new currency will benefit society as it is more widely adopted.
		</p>

		<h3>Problems with cryptocurrency</h3>

			<p>
				Cryptocurrencies offer a new vision for currencies, but is it an acceptable substitution for other currencies? The current problem with currencies today are their high degree of centralization. A cryptocurrency researcher has stated, "The whole world is dissatisfied with USA's monopoly power to issue dollars, the topics about new money, new monetary system became extremely urgent" [1]. The Euro monetary system has show to be unsuccessful ([4]) in some cases, for example in Greece [1]. Modern life can be improved as online transactions, " saves time and money not only for consumers, but also for companies that offers different service" [1].
			</p>

			<p>
				While conventional currencies have been struggling, cryptocurrencies have been on the rise. Many companies are already starting to support cryptocurrencies, "the number of merchants who accept Bitcoin has risen to over 100,000 last year. That includes Microsoft Corp. (MSFT) , PayPal, and Expedia Inc. (EXPE) - proof that far from being just an upstart, Bitcoin is actually moving to the mainstream" [2].
			</p>

		<h3>Controversies</h3>

			<p>
				There are several controversies surrounding bitcoin. First, bitcoin can be used to evade taxes. Unlike conventional currencies, "Bitcoin is not pegged to a government-backed fiat dollar, meaning its value relative to those currencies is market driven." [3] Bitcoin provides, "A direct exchange of digital coins over the Internet for the goods or services… The result is a secure, partially anonymous, and decentralized electronic medium of exchange with limited transaction fees" [3]. This is a potential way for people looking to hide fund from the government to do so.
			</p>

			<p>
				Furthermore, "Bitcoin itself could potentially violate U.S. law, as it arguably competes with the U.S. dollar and other national currencies that have a monopoly on the issuing of money" [3]. This could also be a problem in other countries, especially with governments who are more controlling.
			</p>

			<p>
				The underground market uses bitcoin as the currency of choice, notably on the Silk Road - now closed by the FBI, but other large scale illegal markets may emerge. Cryptocurrencies have contributed to other illegal acts, for example, "The lack of consolidated control also makes Bitcoin appealing to those wishing to engage in illegal activity or support dissident organizations, such as WikiLeaks" [3].
			</p>

			<p>
				Finally, cryptocurrencies and Bitcoin offers no official dispute resolution authority. Unlike other digital currencies exchanges such as PayPal, cryptocurrencies take the third party out of play. People have to manage trust on their own, and if they make a mistake no authority can intervene.
			</p>

		<h3>Should the world utilize cryptocurrency?</h3>

			<p>
				Cryptocurrencies offer decentralization, there is no single regulator. For example, bitcoins all work for the benefit of society.  "Each user depends on the system and the system's functioning depends on the users. So we can sum that default risk depends on the consumer's activity and not from the policy of any country" [1]. Cryptocurrencies offer a peer to peer system, based on an equality of participation [1]. All users act as a kind of joint bank. Bitcoin researchers believe, "the functionality of the currency includes all necessary qualities that have to have a world currency" [1].
			</p>

	<h2>References</h2>

		<ol>
			<li>Seitim Aiganym. "The Conceptual Principles of Bitcoin Crypto Currency" Bitcoin innovative principles that can be used in current financial situation. <a target="_blank" href="http://thescipub.com/abstract/10.3844/jcssp.2015.995.999">http://thescipub.com/abstract/10.3844/jcssp.2015.995.999</a> </li>
			<li>Newstex Finance. Trefis: How Will Bitcoin Overcome Its Biggest Test? Copyright Newstex May 13, 2016. <a target="_blank" href="http://www.trefis.com/stock/spy/articles/355351/how-will-bitcoin-overcome-its-biggest-test/2016-05-13">http://www.trefis.com/stock/spy/articles/355351/how-will-bitcoin-overcome-its-biggest-test/2016-05-13</a> Accessed 9/26/16 </li>
			<li>Thomas Slattery, "Taking a Bit out of Crime: Bitcoin and CrossBorder Tax Evasion".  39 Brook. J. Int'l L. (2014) </li>
			<li>Ramesh Ponnuru. "Why the Euro Is Failing" <a target="_blank" href="https://www.bloomberg.com/view/articles/2015-07-06/why-the-euro-is-failing">https://www.bloomberg.com/view/articles/2015-07-06/why-the-euro-is-failing</a> </li>
		</ol>

	<small>Feedback? <a href="mailto:dmytro@dbogatov.org">dmytro@dbogatov.org</a></small>	

</div>