<div class="content" style="text-align: justify;">

	<h2>Freedom of Speech</h2>

		<hr />

		<p>
			Journalist Alec Lui described BitCoin as, "a compelling, if not polarizing mix of freedom of speech, cryptography, networked computing, finance, economics, and even politics. And one year after the bubble popped, the cryptocurrency is, against all odds, alive and well. In fact, its price has finally stabilized [1]". 
		</p>

		<p>
			The First Amendment provides a constitutional right to free speech. In 1995, in McIntyre v. Ohio Elections Commission, the U.S. Supreme Court reaffirmed that the First Amendment protects anonymous speakers, which means it is likely covers anonymous online speech too [2].
		</p>

		<h3>Freedom of Speech Conflicts</h3>

			<p>
				Problems may arise when the government moves toward regulating various aspects of Bitcoin. Governments will establish, "new e-discovery rules targeting users who have taken advantage of Bitcoin's anonymity to commit illegal acts" [2].
			</p>

			<p>
				A initial problem is  issuing a subpoena. When determining the initial threshold for the government to issue a subpoena, the U.S. Supreme Court and Congress has to take some restrictions into consideration. For example, the government should not able able to subpoena a website or Bitcoin wallet service to gain information about an unlimited number of transactions [2]. This prevents governmental overstep and potential infringement upon the First Amendment rights of legitimate Bitcoin users" [2]. There is a disconnect in the  e-discovery rules for criminal litigation, and the U.S. Supreme Court and Congress must design a balance, "that fits between the tests for granting subpoenas duces tecum and grand jury subpoenas" [2].
			</p>

			<p>
				Justus Ranvier, co-founder of the Open Bitcoin Privacy Project, a volunteer organization that rates the most popular bitcoin wallets on protecting users' privacy says:
			</p>

			<p>
				<i>
					"Freedom of private financial transactions is as important as freedom of speech… I believe in the long Western tradition of placing a premium on freedom of speech because we know the downsides of restricting it are so severe. I don't believe it's any different with money."
				</i> [3]
			</p>

			<p>
				Some argue that this freedom is in jeopardy because if cryptocurrency were to become mainstream, there will likely be an effort by banks and governments to have some authoritative regulations on the service [3].
			</p>

	<h2>References</h2>

		<ol class="references">
			<li>Alec Lui, With Euro Instability, "Can Bitcoin Now Compete with Hard Currency?", Motherboard (June 12, 2012)</li>
			<li>Huang, Alice. "Reaching Within Silk Road: the Need for a New Subpoena Power That Targets Illegal Bitcoin Transactions." Boston College.Law School.Boston College Law Review 56.85 (2015): 2093-125. ProQuest. Web. 28 Sep. 2016.</li>
			<li>Crosman, Penny. "Can You Really 'Know' a Customer Who Uses Bitcoin?" American Banker 2 Dec. 2015. Academic OneFile. Web. 28 Sept. 2016.</li>
		</ol>

	<small>Feedback? <a href="mailto:dmytro@dbogatov.org">dmytro@dbogatov.org</a></small>	

</div>