<div class="content" style="text-align: justify;">

	<h2>Intellectual Property</h2>

		<hr />

			<h3>Intellectual property for the technology</h3>

				<p>
					Bitcoin itself is open source, meaning and that nobody owns or controls it, and everyone can take part in the surrounding community and help improve it, and even build upon it. The code is available on the open source online community, GitHub. Updates are rolling out continuously, and code decision discussions happen on a mailing list or through the dedicated Developer IRC. [1] [2] 
				</p>

				<p>
					In an effort to keep up with cryptocurrency technologies, banks have recently been trying to file blockchain-related patents. While the original technology can not be patented, these bank are trying to patent variations or specific implementations of it. [3] 
				</p>

			<h3>How Bitcoin indirectly hurts intellectual property today</h3>

				<p>
					The European Union’s Intellectual Property (EUIPO) office has stated that Bitcoin and Tor can “hide the proceeds of crime” and hinder anti-piracy efforts. Bitcoin, along with Tor are thus considered a threat to enforcement of intellectual property, which usually relies on the tracking of money made possible using normal currencies.  Since all transactions are semi-anonymous, (there are no public records connecting bitcoin wallet IDs with personal information) governments find it hard to track down on pirates who are financed through Bitcoin. [4] 
				</p>

			<h3>How Bitcoin indirectly hurts intellectual property today</h3>

				<p>
					The globally distributed public ledger powered by block chains technology does not necessarily have to contain information on money, like the case of bitcoin. Instead, it could store information on titles, music, art, scientific discoveries, and intellectual property. The blockchain technology can through mass collaboration ensure integrity and trust between users, and makes it difficult what is on the blockchain can’t be removed. Blockchain technology can thus provide a new platform for creators of intellectual property to register artwork, including certificates of authenticity, condition, and ownership. Deciding who owns what intellectual property could be likened to the problem of double spending, which blockchain does a great job of addressing. [5]
				</p>

				<p>
					Blockai is the name of a startup that is currently helping artists, photographers and other creators register their work as a proof of creation to protect it from copyright infringement. The CEO sees a future with a universal database for claiming ownership of creations and for paying royalties.
				</p>

	<h2>References</h2>

		<ol class="references">
			<li>Who's Building Bitcoin? An Inside Look at Bitcoin's Open Source Development, <a href="http://motherboard.vice.com/blog/whos-building-bitcoin-an-inside-look-at-bitcoins-open-source-development">#</a>, Accessed 9/25/2016</li>
			<li>GitHub Page for bitcoin project. <a href="https://github.com/bitcoin/bitcoin">#</a>, Accessed 9/27/2016</li>
			<li>Crypto Colonizing: B of A's Blockchain-Patent Strategy, <a href="http://www.americanbanker.com/news/bank-technology/crypto-colonizing-b-of-as-blockchain-patent-strategy-1079136-1.html">#</a>, Accessed 9/25/2016</li>
			<li>Research on Online Business Models Infringing Intellectual Property Rights, EUIPO. <a href="https://euipo.europa.eu/tunnel-web/secure/webdav/guest/document_library/observatory/resources/Research_on_Online_Business_Models_IBM/Research_on_Online_Business_Models_IBM_en.pdf">#</a>, Accessed 9/22/2016</li>
			<li>Tapscott, D. The Impact of the Blockchain Goes Beyond Financial Services. <a href="https://hbr.org/2016/05/the-impact-of-the-blockchain-goes-beyond-financial-services">#</a>, Accessed 9/26/2016</li>
			<li>Blockai uses the blockchain to help artists protect their intellectual property. <a href="https://techcrunch.com/2016/03/14/blockai-launch/">#</a>, Accessed 9/26/2016</li>
		</ol>

	<small>Feedback? <a href="mailto:dmytro@dbogatov.org">dmytro@dbogatov.org</a></small>

</div>