<div class="content" style="text-align: justify;">

	<h2>Professional Ethics</h2>

		<hr />

			<p>
				Section is in progress... 
			</p>

	<h2>References</h2>

		<ol>
			<li>???</li>
		</ol>

	<small>Feedback? <a href="mailto:dmytro@dbogatov.org">dmytro@dbogatov.org</a></small>

</div>