<div class="ui-303 content">

	<!-- Timeline starts -->
	
	<h4>BitCoin Timeline</h4>
	<p>Checkout the technology's timeline</p>
	
	<hr />

	<div class="o-timeline" id="timeline"></div>
	
	<!-- Timeline ends -->

</div>