<div class="content">

	<div class="jumbotron">
		<div id="chartdiv"></div>		
	</div>

	<h1>
		Home
	</h1>

	<hr>

	<h2>
		<a href="/minutes">Checkout our meeting minutes</a>
	</h2>
	<h2>
		<a href="/timeline">Checkout technology's timeline</a>
	</h2>

	<!-- UI - X Starts -->
	<div class="ui-69">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12 col-mob">
					<!-- Item -->
					<div class="ui-item">
						<!-- Image -->
						<img src="/img/imp.png" alt="" class="img-responsive" />
						<!-- Image Hover -->
						<div class="image-hover bg-red ui-left">
							<!-- Heading -->
							<h3><a href="#">Imp (Social)</a></h3>
							<!-- Paragraph -->
							<p>
								<a target="_blank" href="http://orig04.deviantart.net/4919/f/2015/278/0/c/dragon_imp_by_tsaoshin-d9c2tpu.png">Source</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- UI - X Ends --> 

</div>
