<div class="content">

	<h1>
		Home
	</h1>
	<hr>

	<div class="jumbotron">
		
		<h2>BitCoin historical data</h2>
		<p>Computed per request. Sources: <a href="http://www.coindesk.com/api/">Coindesk API</a> and <a href="http://data.bitcoinity.org">Bitcoinify API</a></p>

		<div id="chartdiv"></div>		
	</div>

	<h2>We recommend</h2>
	<hr>

	<div class="row">
		<div class="col-md-4">
			<div class="jumbotron">
				<h3>
					Checkout our meeting minutes
				</h3>
				<p><a class="btn btn-primary btn-lg" href="/minutes" role="button">Checkout</a></p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="jumbotron">
				<h3>
					Checkout technology's timeline
				</h3>
				<p><a class="btn btn-primary btn-lg" href="/timeline" role="button">Checkout</a></p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="jumbotron">
				<h3>
					Checkout our privacy policy
				</h3>
				<p><a class="btn btn-primary btn-lg" href="/cookie" role="button">Checkout</a></p>
			</div>
		</div>
	</div>
	
	<h2>Our home pet</h2>
	<hr>

	<!-- UI - X Starts -->
	<div class="ui-69">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12 col-mob">
					<!-- Item -->
					<div class="ui-item">
						<!-- Image -->
						<img src="/img/imp.png" alt="" class="img-responsive" />
						<!-- Image Hover -->
						<div class="image-hover bg-red ui-left">
							<!-- Heading -->
							<h3><a href="#">Imp (Social)</a></h3>
							<!-- Paragraph -->
							<p>
								<a target="_blank" href="http://orig04.deviantart.net/4919/f/2015/278/0/c/dragon_imp_by_tsaoshin-d9c2tpu.png">Source</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- UI - X Ends --> 

</div>
