<div class="ui-303 content">

	<!-- Timeline starts -->
	
	<h4>Meeting Minutes</h4>
	<p>Checkout our overall progress</p>
	
	<hr />

	<div class="o-timeline">
		
		<!-- Timeline item starts -->
		<div class="timeline-item">
			<!-- Timeline circle -->
			<div class="timeline-circle bg-red">
				<!-- Date -->
				<span>10</span> Sep 2016
			</div>
			<!-- Content -->
			<div class="timeline-content">
				<h4>First meeting</h4>
				<p>
					Structure of project work
					<ul>
						<li>Split responsibilities and meeting</li>
					</ul>

					Come up with a conclusion
					<ul>
						<li>1 week exploring research</li>
						<li>1-2 week of more intense research</li>
					</ul>

					Big things:
					<ul>
						<li>
							Where in the future the technology is going
							<ul>
								<li>Big companies are starting to dabble in cryptocurrency</li>
							</ul>
						</li>
						<li>
							Question of whether it will become adopted and how
							<ul>
								<li>Not necessarily our conclusion</li>
							</ul>
						</li>
						<li>
							Research Areas
							<ul>
								<li>Functionality, practical stuff to understand</li>
								<li>Tech background</li>
								<li>
									Ethics of cryptocurrency (illegal business)
									<ul>
										<li>Lack of legal framework</li>
										<li>Mining is done botnets</li>
									</ul>
								</li>
								<li>Big boom and crash for BitCoin</li>
								<li>
									Other cryptocurrencies
									<ul>
										<li>Why is bitcoin the most popular</li>
									</ul>
								</li>	
							</ul>
						</li>
					</ul>
					
					
					For next week:
					<ul>
						<li>Nick - Future</li>
						<li>Isamu - Crime/ethics</li>
						<li>Dmytro - Web site</li>
						<li>Tim - Technical side</li>
					</ul>

					Remember to look for scholarly sources.
				
					Stages
					<ul>
						<li>Mining and increased value</li>
						<li>Supply and demand</li>
						<li>If interest is lost, price can drop to the point where it is worthless</li>
					</ul>
					
					Resources and Articles:
					<ol>
						<li>
							<a target="_blank" href="http://www.forbes.com/sites/francescoppola/2016/08/06/theft-and-mayhem-in-the-bitcoin-world/#6cc2d38651ae">forbes.com</a>
						</li>
						<li>
							<a target="_blank" href="http://www.betaboston.com/news/2015/05/27/mit-student-settles-legal-fight-with-nj-over-bitcoin-mining-experiment/">betaboston.com/</a>
						</li>
						<li>
							<a target="_blank" href="https://coinmarketcap.com/">coinmarketcap.com/</a>
							<ul>
								<li>Market caps and daily trading volumes</li>
							</ul>
						</li>
						<li>
							<a target="_blank" href="https://www.cryptocoinsnews.com/blockchain-news/">cryptocoinsnews.com/</a>
							<ul>
								<li>News</li>
							</ul>
						</li>
					</ol>				
				</p>
			</div>
			<div class="clearfix"></div>
		</div>
		<!-- Timeline item ends -->
		
		<!-- Timeline item starts -->
		<div class="timeline-item">
			<div class="timeline-circle bg-red">
				<span>19</span> May 2016
			</div>
			<div class="timeline-content">
				<h4>Discussing each other's research work</h4>
				<p>
					What we did:
					<ul>
						<li>Discuss findings from last week.</li>
						<li>Bitcoin history and technology.</li>
						<li>Potential problems of blockchain technology-- storing the entire block chain.</li>
						<li>Technology behind bitcoin. Can it be adopted into the world? What are the advantages and disadvantages.</li>
						<li>Different perspectives - ethics, crime, technology/software, banking</li>
						<li>Block chain technology in other services?</li>
					</ul>

					What we will do:
					<ul>
						<li>Work on website:</li>
						<ul>
							<li>Everyone will work on a page for the website</li>
							<ul>
								<li>Add to topics from chapter</li>
							</ul>
							<li>Everyone will work on the timeline, fill in history</li>
							<ul>
								<li>At least two entries in the table each</li>
							</ul>
							<li>Add Real time chart?</li>
						</ul>
					</ul>
				</p>
			</div>
			<div class="clearfix"></div>
		</div>
		<!-- Timeline item ends -->
		
	</div>
	
	<!-- Timeline ends -->

</div>